@using Domain.Common
@using Domain.Entities
@using Microsoft.AspNetCore.Identity
@using Presentation.Common

@inject SignInManager<ApplicationUser> SignInManager

@{
    var authenticated = SignInManager.IsSignedIn(User);
    var isAdmin = User.IsInRole(UserRole.Admin.ToString());
    var isLecturer = User.IsInRole(UserRole.Lecturer.ToString());
    var isStudent = User.IsInRole(UserRole.Student.ToString());
}

<ul class="nav navbar-nav nav-pills flex-grow-1">
    <li class="nav-item"><a class="nav-link text-dark @NavBar.HomeNavClass(Context)" id="home" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="nav-item"><a class="nav-link text-dark @NavBar.ChatNavClass(Context)" id="chat" asp-controller="Chat" asp-action="Index">Chat</a></li>
    @if (isLecturer || isAdmin)
    {
        <li class="nav-item"><a class="nav-link text-dark @NavBar.DocumentsNavClass(Context)" id="categories" asp-controller="Documents" asp-action="Library">Documents</a></li>
    }
    @if (isAdmin)
    {
        <li class="nav-item"><a class="nav-link text-dark @NavBar.AccountsNavClass(Context)" id="accounts" asp-controller="Accounts" asp-action="Index">Accounts</a></li>
        <li class="nav-item"><a class="nav-link text-dark @NavBar.RblNavClass(Context)" id="rbl" asp-controller="Rbl" asp-action="Index">Analyze</a></li>
    }
</ul>
<ul class="navbar-nav">
    @if (authenticated)
    {
        @if (isStudent || isLecturer)
        {
            <li class="nav-item"><a class="nav-link text-dark @NavBar.PlansNavClass(Context)" id="plans" asp-controller="Subscriptions" asp-action="SelectPlan">Plans</a></li>
        }
        <li class="nav-item">
            <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout" asp-route-return-url="@Context.Request.Path">
                <button type="submit" class="nav-link btn btn-link text-dark" style="line-height: normal !important;">Log out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Register" asp-route-return-url="@Context.Request.Path">Register</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Login" asp-route-return-url="@Context.Request.Path">Log in</a></li>
    }
</ul>
